{% extends "layouts/layout.html"%}
{%block content%}

<div class="container">
    <h3 class="text-center">Course Add</h3>
    <div class="row mt-4">
        <div class="col-4 offset-4 text-center">
            <from action="">
                <label for="">Course name</label>
                <input type="text" class="form-control">
                <label for="">Course Code</label>
                <input type="text" class="form-control">
      
                <button class="btn btn-primary btn-sm mt-4" type="submit">Save</button>

            </from>

        </div>
    </div>

    
</div>
{%endblock%}
