{% extends "layouts/layout.html"%}
{%block content%}

<div class="container">
    <h3 class="text-center">Student</h3>
    <form class="row" action="" method="POST">
      <input type="text" class="form-contral col-10" name="search">
      <button class="btn btn-info float-right col-2" type="submit">Search</button>
    </form>
    <a href="/addstudent" class="btn btn-primary btn-sm float-right m-3">Add Student</a>
    <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Type</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for student in students:%}
              <tr>
                <th scope="row">{{student.id}}</th>
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
                <td>{{student.student_type}}</td>
                <td>{{student.address}}</td>
                <td>
                  <a href="/studentupdate/{{student.id}}" class="btn btn-primary btn-sm">Update</a>
                  <a href="/studentdelete/{{student.id}}" class="btn btn-danger btn-sm">Delete</a>
                  <a href="/studentschedule/{{student.id}}" class="btn btn-success btn-sm">View Schedule</a>
                </td>
              </tr>
              {%endfor%}

              
            </tbody>
          </table>
    
</div>
{%endblock%}