{% extends "layouts/layout.html"%}
{%block content%}

<div class="container">
    <h3 class="text-center">Teacher {{teacher['name']}}</h3>
    <a href="/addteacher" class="btn btn-primary btn-sm float-right m-3">Add Teacher</a>
    <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Day</th>
                <th scope="col">Course</th>
              </tr>
            </thead>
            
            <tbody>
                {% for schedule in teacher['schedules']:%}
                <tr>
                  <th scope="row">{{schedule.id}}</th>
                  <td>{{schedule.start}}</td>
                  <td>{{schedule.end}}</td>
                  <td>{{schedule.day}}</td>
                  <td>{{schedule.course}}</td>
                
                </tr>
                {%endfor%}

            </tbody>
          </table>
    
</div>

{%endblock%}