{% extends "layouts/layout.html"%}
{%block content%}

<div class="container">
    <h3 class="text-center">Teacher</h3>
    <form class="row" action="" method="POST">
      <input type="text" class="form-contral col-10" name="search">
      <button class="btn btn-info float-right col-2" type="submit">Search</button>
    </form>
    <a href="/addteacher" class="btn btn-primary btn-sm float-right m-3">Add Teacher</a>
    <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            
            <tbody>
                {% for teacher in teachers:%}
                <tr>
                  <th scope="row">{{teacher.id}}</th>
                  <td>{{teacher.name}}</td>
                  <td>{{teacher.age}}</td>
                  <td>{{teacher.address}}</td>
                  <td>
                      <a href="/teacherupdate/{{teacher.id}}" class="btn btn-primary btn-sm">Update</a>
                      <a href="/teacherdelete/{{teacher.id}}" class="btn btn-danger btn-sm">Delete</a>
                      <a href="/teacherschedule/{{teacher.id}}" class="btn btn-success btn-sm">View Schedule</a>

                  </td>
                </tr>
                {%endfor%}

            </tbody>
          </table>
    
</div>

{%endblock%}