{% extends "layouts/layout.html"%}
{%block content%}

<div class="container">
    <h3 class="text-center">Schedule</h3>
    <form class="row" action="" method="POST">
      <input type="text" class="form-contral col-10" name="search">
      <button class="btn btn-info float-right col-2" type="submit">Search</button>
    </form>
    <a href="/addschedule" class="btn btn-primary btn-sm float-right m-3">Add Schedule</a>
    <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Day</th>
                <th scope="col">Course Section</th>
                <th scope="col">Course </th>
                <th scope="col">Subject </th>
                <th scope="col">Term</th>
                <th scope="col">Teacher</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              
                {% for schedule in schedules:%}
                <tr>
                <th scope="row">{{schedule.id}}</th>
                <td>{{schedule.start}}</td>
                <td>{{schedule.end}}</td>
                <td>{{schedule.day}}</td>
                <td>{{schedule.course_sections.name}}</td>
                <td>{{schedule.course_sections.courses.name}}</td>
                <td>{{schedule.subjects.name}}</td>
                <td>{{schedule.term}}</td>
                <td>{{schedule.teachers.name}}</td>
                <td>
                    <a href="/scheduleupdate/{{schedule.id}}" class="btn btn-primary btn-sm">Update</a>
                    <a href="/scheduledelete/{{schedule.id}}" class="btn btn-danger btn-sm">Delete</a>
                </td>
              </tr>
                {%endfor%}
                           
            </tbody>
          </table>
    
</div>

{%endblock%}