{% extends "layouts/layout.html"%}
{%block content%}

<div class="container">
    <h3 class="text-center">Enrollment</h3>
    
    <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">teacher</th>
                <th scope="col">subject</th>
                <th scope="col">schedule</th>
                <th scope="col">term</th>
              </tr>
            </thead>
            <tbody>
              
                    {% for enrollment in enrollments:%}
                    <tr>
                    <td>{{enrollment.schedules.teachers.name}}</td>
                    <td>{{enrollment.schedules.subjects.name}}</td>
                    <td>{{enrollment.schedules.start + "-" +enrollment.schedules.end + " " + enrollment.schedules.day}}</td>
                    
                  </tr>
                    {%endfor%}
            
            </tbody>
          </table>
          <form action="" method ="POST">
          <button class="btn btn-primary btn-sm mt-4" type="submit">Back</button>
          <button class="btn btn-primary btn-sm mt-4" type="submit">Comfirm</button>
        </form>
</div>

{%endblock%}