{% extends "layouts/layout.html"%}
{% import "bootstrap/wtf.html" as wtf%}
{%block content%}

<div class="container">
    <h3 class="text-center">Enrollment</h3>
    
    <form class="row" action="" method="POST">
      <input type="text" class="form-contral col-10" name="search">
      <button class="btn btn-info float-right col-2" type="submit">Search</button>
    </form>
    <a href="/addenrollment" class="btn btn-primary btn-sm float-right m-3">Add Enrollment</a>
    <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Student Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              
                {% for student in enrollments:%}
                <tr>
                <th scope="row">{{student.id}}</th>
                <td>{{student.name}}</td>
                <td>
                    <a href="/enrollmentupdate/{{student.id}}" class="btn btn-primary btn-sm">Update</a>
                    <a href="/enrollmentdelete/{{student.id}}" class="btn btn-danger btn-sm">Delete</a>
                    <a href="/enrollmentview/{{student.id}}" class="btn btn-success btn-sm">View Schedule</a>

                </td>
              </tr>
                {%endfor%}
                           
            </tbody>
          </table>
    
</div>

{%endblock%}